<div class="row mt-4 mt-2">
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm  mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm  mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm  mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm mt-2">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/soccer-player.png" class="rounded mx-auto d-block" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
