<ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="gameWeek1" data-toggle="pill" href="#pills-game1" role="tab" aria-controls="pills-game1" aria-selected="true">Gameweek 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="gameWeek2" data-toggle="pill" href="#pills-game2" role="tab" aria-controls="pills-game2" aria-selected="false">Gameweek 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="gameWeek3" data-toggle="pill" href="#pills-game3" role="tab" aria-controls="pills-game3" aria-selected="false">Gameweek 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="gameWeek4" data-toggle="pill" href="#pills-game4" role="tab" aria-controls="pills-game4" aria-selected="false">Gameweek 4</a>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" id="pills-game1" role="tabpanel" aria-labelledby="gameWeek1">
      <div class="row mt-4">
          <div class="col-sm wow fadeIn mb-2">
            <div class="card text-center">
              <h5 class="card-header">Golden Glove</h5>
              <div class="card-body align-items-center">
                <img src="../assets/img/gold-medal.png" />
                <h4 class="weekWinner">Mane</h4>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card text-center">
              <h5 class="card-header">Best Defender</h5>
              <div class="card-body align-items-center">
                <img src="../assets/img/gold-medal.png" />
                <h4 class="weekWinner">Vineet</h4>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card text-center">
              <h5 class="card-header">Best Midfielder</h5>
              <div class="card-body align-items-center">
                <img src="../assets/img/gold-medal.png" />
                <h4 class="weekWinner">Akshay</h4>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card text-center">
              <h5 class="card-header">Best Goal</h5>
              <div class="card-body align-items-center">
                <img src="../assets/img/gold-medal.png" />
                <h4 class="weekWinner">Kammo</h4>
              </div>
            </div>
          </div>
  <!--
          <div class="col-sm">
            <div class="card text-center">
              <h5 class="card-header">Golden Boot</h5>
              <div class="card-body align-items-center">
                <h4 class="KPIfigure">8</h4>
                <h5>Akshay</h5>
              </div>
            </div>
          </div>
  -->
        </div>
        <div class="row mt-4">
          <div class="col-sm wow fadeIn mb-2">
            <div class="card">
              <h5 class="card-header">Golden Glove</h5>
              <div class="card-body">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Name</th>
                      <th scope="col">Votes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1st</th>
                      <td>Mane</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <th scope="row">2nd</th>
                      <td>Llyod</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <th scope="row">3rd</th>
                      <td>Ashish</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card">
              <h5 class="card-header">Best Defender</h5>
              <div class="card-body">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Name</th>
                      <th scope="col">Votes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1st</th>
                      <td>Vineet</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">2nd</th>
                      <td>Amey</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <th scope="row">3rd</th>
                      <td>Heth</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>

        </div>
        <div class="row mt-4 mb-5">
          <div class="col-sm wow fadeIn mb-2">
            <div class="card">
              <h5 class="card-header">Best Midfielder</h5>
              <div class="card-body">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Name</th>
                      <th scope="col">Votes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1st</th>
                      <td>Akshay</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <th scope="row">2nd</th>
                      <td>Addu</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <th scope="row">3rd</th>
                      <td>Ashish</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card">
              <h5 class="card-header">Best Goal of the Week</h5>
              <div class="card-body">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Name</th>
                      <th scope="col">Votes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1st</th>
                      <td>Kammo</td>
                      <td>12</td>
                    </tr>
                    <tr>
                      <th scope="row">2nd</th>
                      <td>Akshay</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th scope="row">3rd</th>
                      <td>Omkar</td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-sm wow fadeIn">
                <div class="card">
                  <h5 class="card-header">Golden Boot</h5>
                  <div class="card-body">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Rank</th>
                          <th scope="col">Name</th>
                          <th scope="col">Goals</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Rohit</td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Kammo</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Lloyd</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Omkar</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Akshay</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Addu</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Ashish</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Vineet</td>
                          <td>1</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
    </div>
    <div class="tab-pane fade active show" id="pills-game2" role="tabpanel" aria-labelledby="gameWeek2">
      <div class="row mt-4">
          <div class="col-sm wow fadeIn mb-2">
            <div class="card text-center">
              <h5 class="card-header">Golden Glove</h5>
              <div class="card-body align-items-center">
                <img src="../assets/img/gold-medal.png" />
                <h4 class="weekWinner">Aman</h4>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card text-center">
              <h5 class="card-header">Best Defender</h5>
              <div class="card-body align-items-center">
                <img src="../assets/img/gold-medal.png" />
                <h4 class="weekWinner">Amey</h4>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card text-center">
              <h5 class="card-header">Best Midfielder</h5>
              <div class="card-body align-items-center">
                <img src="../assets/img/gold-medal.png" />
                <h4 class="weekWinner">Addu</h4>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card text-center">
              <h5 class="card-header">Best Goal</h5>
              <div class="card-body align-items-center">
                <img src="../assets/img/gold-medal.png" />
                <h4 class="weekWinner">Addu</h4>
              </div>
            </div>
          </div>
  <!--
          <div class="col-sm">
            <div class="card text-center">
              <h5 class="card-header">Golden Boot</h5>
              <div class="card-body align-items-center">
                <h4 class="KPIfigure">8</h4>
                <h5>Akshay</h5>
              </div>
            </div>
          </div>
  -->
        </div>
        <div class="row mt-4">
          <div class="col-sm wow fadeIn mb-2">
            <div class="card">
              <h5 class="card-header">Golden Glove</h5>
              <div class="card-body">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Name</th>
                      <th scope="col">Votes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1st</th>
                      <td>Aman</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <th scope="row">2nd</th>
                      <td>Kirsten</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <th scope="row">3rd</th>
                      <td>Rohit</td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card">
              <h5 class="card-header">Best Defender</h5>
              <div class="card-body">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Name</th>
                      <th scope="col">Votes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1st</th>
                      <td>Amey</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <th scope="row">2nd</th>
                      <td>Subhash</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <th scope="row">3rd</th>
                      <td>Vineet</td>
                      <td>2</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>

        </div>
        <div class="row mt-4 mb-5">
          <div class="col-sm wow fadeIn mb-2">
            <div class="card">
              <h5 class="card-header">Best Midfielder</h5>
              <div class="card-body">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Name</th>
                      <th scope="col">Votes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1st</th>
                      <td>Addu</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <th scope="row">2nd</th>
                      <td>Aman</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <th scope="row">3rd</th>
                      <td>Vineet</td>
                      <td>2</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm wow fadeIn mb-2">
            <div class="card">
              <h5 class="card-header">Best Goal of the Week</h5>
              <div class="card-body">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Name</th>
                      <th scope="col">Votes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1st</th>
                      <td>Addu</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <th scope="row">2nd</th>
                      <td>Vineet</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <th scope="row">3rd</th>
                      <td>Allen</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-sm wow fadeIn">
                <div class="card">
                  <h5 class="card-header">Golden Boot</h5>
                  <div class="card-body">
                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Rank</th>
                          <th scope="col">Name</th>
                          <th scope="col">Goals</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Vineet</td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Addu</td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Lloyd</td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Omkar</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Akshay</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td>Kirsten</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">7</th>
                          <td>Allen</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <th scope="row">8</th>
                          <td>Aman</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <th scope="row">9</th>
                          <td>Nil</td>
                          <td>1</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
    </div>
    <div class="tab-pane fade" id="pills-game3" role="tabpanel" aria-labelledby="gameWeek3">
      <div class="card text-center">
          <div class="row align-items-center">
              <div class="col comingSoon">
                  <img src="img/coming-soon.png" />
                  <h5 class="comingSoontxt">Coming Soon</h5>
              </div>
          </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-game4" role="tabpanel" aria-labelledby="gameWeek4">
      <div class="card text-center">
          <div class="row align-items-center">
              <div class="col comingSoon">
                  <img src="img/coming-soon.png" />
                  <h5 class="comingSoontxt">Coming Soon</h5>
              </div>
          </div>
      </div>
    </div>
</div>
