@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: #00FF87;
    font-family: 'Montserrat', sans-serif;
    background-position: right top;
    background-image:url('assets/img/page-hero-primary.png');
}
