<div class="row mt-4">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Name</th>
                  <th scope="col">Number of Goals</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>1st</td>
                    <td>Llyod</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>2nd</td>
                    <td>Vineet</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>3rd</td>
                    <td>Addu</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>4th</td>
                    <td>Rohit</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5th</td>
                    <td>Omkar</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>6th</td>
                    <td>Akshay</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>7th</td>
                    <td>Kammo</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>8th</td>
                    <td>Kirsten</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>9th</td>
                    <td>Allen</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>10th</td>
                    <td>Aman</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>11th</td>
                    <td>Nil</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>12th</td>
                    <td>Ashish</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
